@font-face {
    font-family: OratorStd;
    font-weight: 100;
    src: url("fonts/OratorStd.otf") format("opentype");
}
@font-face {
    font-family: RockwellStd;
    font-weight: 100;
    src: url("fonts/RockwellStd.ttf") format("truetype");
}
a{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}
body{
  font-family: OratorStd;
  margin: 0 auto;
}
.bg-overlay{
  width: 100%;
  height: 100%;
  background: #000000;
  position: absolute;
  opacity: 0.6;
  z-index: 999;
}
.page-inner-container{
  background: url(images/inner-page.jpg) no-repeat center center fixed;
  padding: 120px 0 0 0;
}
.page-inner-container h1{
  text-align: center;
}
.hidden{
  display: none !important;
}
.hidden-v{
  visibility: hidden;
}
.clear{
  clear: both;
}
.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 999;
}
.loader .loader-img{
  background: url('images/Experia-Aircon-loader.png') no-repeat center center;
  width: 100%;
  height: 100%;
}
.main-menu{
  background: #6f758a;
  height: 60px;
  margin-top: 40px;
  position: absolute;
  z-index: 999;
}
.main-menu.short{
  width: 33%;
  position: fixed;
}
.menu-contents{
  float: left;
}
.menu-contents .logo{
  float: left; 
  padding: 12px;
}
.menu-contents .logo img{
  width: 100%;
}
.menu-contents .menu-list{
  float: left;
}
.menu-contents .menu-list ul{ 
  list-style-position: outside;
}
.menu-contents .menu-list li{
  float: left;
  padding: 15px 25px;
}
.menu-contents .menu-list li a{
  color: #ffffff;
  font-size: 20px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
  background-color: #00d7f5 !important;
}
.main-menu-box.is-active .hamburger-inner,
.main-menu-box.is-active .hamburger-inner:after,
.main-menu-box.is-active .hamburger-inner:before{
  background-color: #ffffff !important;
}
/* SECONDARY MENU ALTERNATIVE */
.secondary-menu-alt {
  width: 100%;
  position: fixed;
  z-index: 999;
}
.secondary-menu-alt .bg-overlay{
  width: 100%;
  height: 100px;
  background: #000000;
  position: absolute;
  opacity: 0.6;
  z-index: 0;
}
.secondary-menu-alt ul{
  padding: 0;
  z-index: 99;
  position: absolute;
  width: 100%;
}
.secondary-menu-alt ul li { 
  width: 14.28%;
  text-align: center; 
  line-height: 70px; 
  overflow: hidden;
  float: left;
  padding: 15px 0;
}
.secondary-menu-alt ul li img{
  width: 100%;
}
.secondary-menu-alt ul li.menu-logo{
  margin-top: -6px;
}
.secondary-menu-alt ul li a{
  font-size: 20px;
  color: #ffffff;
}

/* SECONDARY MENU PRIMARY */
.secondary-menu-primary {
  width: 100%;
  position: fixed;
  z-index: 999;
}
.secondary-menu-primary .bg-overlay{
  width: 100%;
  top: 43px;
  height: 50px;
  background: #000000;
  position: absolute;
  opacity: 0.6;
  z-index: 0;
}
.secondary-menu-primary ul{
  padding: 0;
  z-index: 99;
  position: absolute;
  width: 100%;
}
.secondary-menu-primary ul li { 
  width: 13%;
  text-align: center; 
  line-height: 100px; 
  overflow: hidden;
  float: left;
  padding: 15px 0;
}
.secondary-menu-primary ul li img{
  width: 100%;
}
.secondary-menu-primary ul li.menu-logo{
  width: 20.28%;
  margin-top: -6px;
}
.secondary-menu-primary ul li a{
  font-size: 20px;
  color: #ffffff;
}

.menu-list li a:hover,
.secondary-menu-alt ul li a:hover,
.secondary-menu-primary ul li a:hover{
  color: #00d7f5;
}
.scroll-text{
  position: absolute;
  z-index: 99;
  top: 82%;
  left: 80%;
  font-size: 28px;
  color: #fff;
  text-shadow: -1px 0 #44444b, 0 1px #44444b, 1px 0 black, 0 -1px #44444b;
}
.section-header{
  width: 100%;
  height: 32%;
}
.section-content{
  font-size: 17px;
  color: #fff;
  width: 70%;
  text-align: justify; 
  padding-left: 50px;
  height: 60%;
}
.section-content p{
  margin: 0 !important;
}
.section-footer{ 
  z-index: 999;
  background: #1d2a63;
  width: 100%;
  padding: 20px;
  color: #fff;
}
.fullpage .section{
  overflow: hidden;
}
.fullpage img{
  width: 100%;
}
.page-inner h1{
  font-size: 50px;
  padding-bottom: 30px;
}
.section-image img{
  width: 100%;
}
.section-text-content{
  font-family: RockwellStd; 
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
}
.section-item{
  padding: 20px 0;
}
.footer{
  width: 100%;
  min-height : 252px;
  font-family: RockwellStd; 
  color: #fff;
}
.footer .bg-overlay{
  width: 100%;
  height: 252px;
  z-index: 98;
  left: 0;
}
.footer .footer-items {
  padding: 20px;
  z-index: 100;
  padding: 55px 20px;
  font-size: 20px;
}
.footer-text{  
  background: #1d2a63;
  width: 100%;
  padding: 20px;
  color: #fff;
  text-align: center;
}
